<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820561191348-oo83ad65v4gorfpgbicsh3f3aau62qgq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820561191348-oo83ad65v4gorfpgbicsh3f3aau62qgq</string>
	<key>API_KEY</key>
	<string>AIzaSyBgP3FK_GUCLecd7jLmbdJ7nlI5aO6G1Rk</string>
	<key>GCM_SENDER_ID</key>
	<string>820561191348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signBuddy.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>signbuddy-d3d91</string>
	<key>STORAGE_BUCKET</key>
	<string>signbuddy-d3d91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820561191348:ios:011d911778f673504952e1</string>
</dict>
</plist>